{

  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },

  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },

  "rules": {
    "id-blacklist": ["error"],
    "no-restricted-globals": ["error"],
    "no-restricted-imports": ["error"],
    "no-restricted-modules": ["error"],
    "no-restricted-syntax": ["error"],

    "accessor-pairs": "warn",
    "array-callback-return": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "array-bracket-spacing": ["error", "never", {
      "singleValue": false,
      "objectsInArrays": false,
      "arraysInArrays": false
    }],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-scoped-var": "warn",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "callback-return": "error",
    "camelcase": ["warn", { "properties": "always" }],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "complexity": "off",
    "computed-property-spacing": ["error", "never"],
    "consistent-return": "warn",
    "consistent-this": "off",
    "constructor-super": "error",
    "curly": ["error", "multi-line", "consistent"],
    "default-case": "error",
    "dot-location": ["error", "property"],
    "dot-notation": ["error", { "allowKeywords": true }],
    "eqeqeq": ["warn", "always"],
    "eol-last": "error",
    "func-names": ["error", "always"],
    "func-style": ["error", "expression", { "allowArrowFunctions": true }],
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "global-require": "warn",
    "guard-for-in": "warn",
    "handle-callback-err": "error",
    "id-length": "off",
    "id-match": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "init-declarations": ["warn", "always"],
    "key-spacing": ["error", {
      "beforeColon": false,
      "afterColon": true,
      "mode": "minimum"
    }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "linebreak-style": ["off"],
    "lines-around-comment": ["warn", {
      "beforeBlockComment": true,
      "afterBlockComment": false,
      "beforeLineComment": false,
      "afterLineComment": false,
      "allowBlockStart": true,
      "allowBlockEnd": false,
      "allowObjectStart": false,
      "allowObjectEnd": false,
      "allowArrayStart": false,
      "allowArrayEnd": false
    }],
    "max-depth": "warn",
    "max-len": ["warn", {
      "code": 100,
      "ignoreUrls": true,
      "ignoreComments": true
    }],
    "max-lines": "off",
    "max-nested-callbacks": ["warn", 2],
    "max-params": ["warn", 4],
    "max-statements": ["warn", 10],
    "max-statements-per-line": ["warn", { "max": 2 }],
    "multiline-ternary": "off",
    "new-cap": ["error", {
      "newIsCap": true,
      "capIsNew": true,
      "properties": true
    }],
    "new-parens": "off",
    "newline-after-var": ["warn", "always"],
    "newline-before-return": "off",
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }],
    "no-alert": "warn",
    "no-array-constructor": "warn",
    "no-bitwise": "warn",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-catch-shadow": "error",
    "no-class-assign": "error",
    "no-cond-assign": ["error", "except-parens"],
    "no-confusing-arrow": ["error", { "allowParens": false }],
    "no-console": "warn",
    "no-const-assign": "error",
    "no-constant-condition": ["error", { "checkLoops": true }],
    "no-continue": "warn",
    "no-control-regex": "warn",
    "no-delete-var": "error",
    "no-div-regex": "warn",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-else-return": "error",
    "no-empty": ["error", { "allowEmptyCatch": false }],
    "no-empty-character-class": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-label": "warn",
    "no-extra-parens": ["warn", "all", { "nestedBinaryExpressions": false }],
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implicit-coercion": "warn",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "off",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-invalid-this": "warn",
    "no-irregular-whitespace": ["warn", {
      "skipStrings": false,
      "skipRegExps": false,
      "skipComments": true,
      "skipTemplates": false
    }],
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "off",
    "no-lone-blocks": "error",
    "no-lonely-if": "warn",
    "no-loop-func": "error",
    "no-magic-numbers": ["warn", {
      "ignoreArrayIndexes": true,
      "ignore": [0, 1, 2]
    }],
    "no-mixed-operators": ["warn", { "allowSamePrecedence": true }],
    "no-mixed-requires": ["error", { "allowCall": true }],
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": ["error", {
      "exceptions": {
        "AssignmentExpression": true,
        "VariableDeclarator": true
      }
    }],
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["warn", { "max": 2 }],
    "no-native-reassign": "error",
    "no-negated-condition": "warn",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "error",
    "no-new": "warn",
    "no-new-func": "error",
    "no-new-object": "warn",
    "no-new-require": "error",
    "no-new-symbol": "error",
    "no-new-wrappers": "warn",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": ["error", { "props": true }],
    "no-path-concat": "error",
    "no-plusplus": "off",
    "no-process-env": "off",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-prototype-builtins": "warn",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-return-assign": ["error", "always"],
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": ["warn", {
      "builtinGlobals": true,
      "hoist": "all"
    }],
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "warn",
    "no-sync": "error",
    "no-tabs": "warn",
    "no-ternary": "off",
    "no-this-before-super": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": ["error", { "skipBlankLines": false }],
    "no-undef": ["error", { "typeof": true }],
    "no-undef-init": "error",
    "no-undefined": "warn",
    "no-underscore-dangle": "error",
    "no-unexpected-multiline": "error",
    "no-unmodified-loop-condition": "warn",
    "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
    "no-unreachable": "error",
    "no-unsafe-finally": "warn",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "warn",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-var": "warn",
    "no-void": "warn",
    "no-warning-comments": "warn",
    "no-whitespace-before-property": "error",
    "no-with": "warn",
    "object-curly-newline": ["warn", {
      "minProperties": 2,
    }],
    "object-curly-spacing": ["error", "always", {
      "objectsInObjects": true,
      "arraysInObjects": true
    }],
    "object-property-newline": "error",
    "object-shorthand": ["warn", "always"],
    "one-var": ["error", "never"],
    "one-var-declaration-per-line": "off",
    "operator-assignment": ["error", "always"],
    "operator-linebreak": ["error", "before", {
      "overrides": {
        "?": "ignore",
        ":": "ignore"
      }
    }],
    "padded-blocks": "off",
    "prefer-arrow-callback": ["error", {
      "allowNamedFunctions": true,
      "allowUnboundThis": true
    }],
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "prefer-reflect": "warn",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quote-props": ["error", "as-needed", {
      "keywords": false,
      "unnecessary": true
    }],
    "quotes": ["error", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "radix": ["error", "always"],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": false,
        "ClassDeclaration": false
      }
    }],
    "require-yield": "error",
    "rest-spread-spacing": ["error", "never"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "sort-imports": "warn",
    "sort-vars": ["warn", { "ignoreCase": true }],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never"
    }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": ["error", "always", { "markers": ["*"] }],
    "template-curly-spacing": ["warn", "never"],
    "unicode-bom": ["error", "never"],
    "use-isnan": "error",
    "valid-typeof": "error",
    "vars-on-top": "warn",
    "wrap-iife": ["error", "outside"],
    "wrap-regex": "off",
    "yield-star-spacing": ["error", "after"],
    "yoda": ["error", "never"],

    "valid-jsdoc": ["warn", {
      "prefer": {
        "arg": "param",
        "argument": "param",
        "augments": "extends",
        "constant": "const",
        "constructor": "class",
        "defaultvalue": "default",
        "desc": "description",
        "exception": "throws",
        "file": "overview",
        "fileoverview": "overview",
        "fires": "emits",
        "func": "function",
        "host": "external",
        "property": "prop",
        "returns": "return",
        "virtual": "abstract"
      },
      "preferType": {
        "boolean": "Boolean",
        "number": "Number",
        "object": "Object",
        "string": "String",
        "function": "Function",
        "promise": "Promise"
      },
      "requireParamDescription": true,
      "requireReturnDescription": false,
      "requireReturn": false,
      "requireReturnType": true
    }]
  }

}
